/**
 * Stamps.css 
 * for displaying the stamps
 */

.object_stamps{
    background-color: whitesmoke;
    border: 1px solid #d9d9d9;
    z-index: 5;
}

.object_stamps .stamp{
    vertical-align:middle;
    position:relative;
    padding: 5px 10px 5px 10px;
}
.object_stamps .stamp.odd{
    background-color:#E5EEF4;
}
.object_stamps .stamp .stamp_date {
top: 0px;
position: absolute;
right: 0px;
font-size:9px;
}
.object_stamps .stamp .stamp_user .image_col{
    vertical-align:middle;
}
